<p-toast position="top-right" [style]="{marginTop: '80px'}"></p-toast>

<ng-container>
  <div class="ui-g">
    <div class="ui-g-8 ui-g-offset-2">
      <form [formGroup]="form">
        <p-panel header="{{ title+' de Disciplina' | uppercase }}">
          <div class="ui-g mb-1 mt-1">
            <div class="ui-g-12">
              <span class="ui-float-label ui-fluid">
                <input type="text" pInputText formControlName="nome" id="nome" [ngClass]="{ 'is-invalid' : submitted }">
                <label for="float-input">Nome</label>
              </span>
            </div>
          </div>

          <div class="ui-g mb-1">
            <div class="ui-g-12">
              <span class="ui-float-label ui-fluid">
                <input id="float-input" type="text" pInputText formControlName="descricao" id="descricao" [ngClass]="{ 'is-invalid' : submitted }">
                <label for="float-input">Descrição</label>
              </span>
            </div>
          </div>

          <div class="ui-g mb-1">
            <div class="ui-g-12">
              <span class="ui-float-label ui-fluid">
                <input id="float-input" type="number" min="0" pInputText formControlName="cargaHoraria" id="cargaHoraria" [ngClass]="{ 'is-invalid' : submitted }">
                <label for="float-input">Carga Horária</label>
              </span>
            </div>
          </div>

          <div class="ui-g">
            <div class="ui-g-12">
                <label for="ativa">Ativa:</label>
                <span class="ui-float-label ui-fluid">
                    <select formControlName="opcoes" id="opcoes" style="width: 130px;" class="form-control border">
                        <option value="1" selected >Sim</option>
                        <option value="0">Não</option>
                    </select>
                </span>
            </div>
          </div> 

          <div class="ui-g">
            <div class="ui-g-12">
              <span class="ui-float-label ui-fluid">
                <p-multiSelect [selectionLimit]="1" [options]="listaProfessores" defaultLabel="Professores" formControlName="professores"></p-multiSelect>
              </span>
            </div>
          </div>

          <p-button label="Salvar" class="ui-button-text botaoFrm" (click)="onSubmit()" ></p-button>
          <p-button label="Cancelar" class="ui-button-text botaoFrm" (click)="onCancel()"></p-button>
        </p-panel>
      </form>
    </div>
  </div>
</ng-container>
