<div class="ui-g">
  <p-confirmDialog header="Confirmação" icon="pi pi-exclamation-triangle"></p-confirmDialog>

  <ng-container>
    <div class="ui-g-12">
        <p-button label="Novo" [routerLink]="['/aluno']" class="ui-button-text" id="btNovo" ></p-button>
    </div>

    <div class="ui-g-12">
      <p-table [value]="alunos" [paginator]="true" rows="10" [responsive]="true">
        <ng-template pTemplate="header">
          <tr>
            <th>Nome</th>
            <th>Matrícula</th>
            <th>CPF</th>
            <th>Data de Nascimento</th>
            <th>Disciplinas</th>
            <th clasCargs="colActions">Ações</th>
            <th clasCargs="colActions">Detalhes</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-aluno>
          <tr>
            <td>{{ aluno.nome }}</td>
            <td>{{ aluno.matricula }}</td>
            <td>{{ aluno.cpf }}</td>
            <td>{{ aluno.dataNascimento }}</td>
            <td>{{ aluno.disciplinas.length }}</td>
            <td>
              <p-button icon="pi pi-pencil" [routerLink]="['/aluno', aluno.id]" pTooltip="Editar" tooltipPosition="top" class="ui-button-icon btAction" ></p-button>
              <p-button icon="pi pi-trash" pTooltip="Excluir" (click)="deletar(aluno)" tooltipPosition="top" class="ui-button-icon btAction" ></p-button>
            </td>
            <td>
              <p-button icon="pi pi-id-card" (click)="ListagemDTO(aluno.id)" tooltipPosition="top" class="ui-button-icon btAction" ></p-button>
              <p-button icon="pi pi-list" (click)="DetalhadoDTO(aluno.id)"  tooltipPosition="top" class="ui-button-icon btAction" ></p-button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </ng-container>
</div>
