<div class="ui-g">
    <p-confirmDialog header="Confirmação" icon="pi pi-exclamation-triangle"></p-confirmDialog>

    <ng-container>
      <div class="ui-g-12">
          <p-button label="Novo" [routerLink]="['/professor']" class="ui-button-text" id="btNovo" ></p-button>
      </div>
  
      <div class="ui-g-12">
        <p-table [value]="professores" [paginator]="true" rows="10" [responsive]="true">
          <ng-template pTemplate="header">
            <tr>
              <th>Nome</th>
              <th>Matrícula</th>
              <th>Área de Atuação</th>
              <th>Data de Nascimento</th>
              <th clasCargs="colActions">Ações</th>
              <th clasCargs="colActions">Detalhes</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-professor>
            <tr>
              <td>{{ professor.nome }}</td>
              <td>{{ professor.matricula }}</td>
              <td>{{ professor.area_atuacao }}</td>
              <td>{{ professor.dataNascimento }}</td>
              <td>
                <p-button icon="pi pi-pencil" [routerLink]="['/professor', professor.id]" pTooltip="Editar" tooltipPosition="top" class="ui-button-icon btAction" ></p-button>
                <p-button icon="pi pi-trash" pTooltip="Excluir" (click)="deletar(professor)" tooltipPosition="top" class="ui-button-icon btAction" ></p-button>
              </td>
              <td>
                <p-button icon="pi pi-id-card" (click)="DetalhadoDTO(professor.id)" tooltipPosition="top" class="ui-button-icon btAction" ></p-button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </ng-container>
  </div>
  